<main class="configure">
	<div class="block-container" style="display: flex; flex-direction: column;">
		<div class="block" style="display: flex; flex-direction: column;">
			<div class="block-header">
				Password
			</div>
			<div class="block-body" style="display: flex; flex-direction: row;">

				<div>Minimum Password Length</div>
				<div>
					<input type="text" id="minimum_password_length" value="" />
				</div>
				<div>
					<button id="minimum_password_length_Update">Update</button>
				</div>

			</div>
			<div class="block-body" style="display: flex; flex-direction: row;">

				<div>Capital Letter</div>
				<div>
					<input type="checkbox" id="capital_letter" name="special_Letter">
				</div>
				<div>
					<button id="capital_letter_Update">Update</button>
				</div>

			</div>
			<div class="block-body" style="display: flex; flex-direction: row;">

				<div>Special Character</div>
				<div>
					<input type="checkbox" id="special_character" name="special_char">
				</div>
				<div>
					<button id="special_character_Update">Update</button>
				</div>

			</div>
		</div>
		<div class="block" style="display: flex; flex-direction: column;">
			<div class="block-header">
				<div>User</div>
			</div>
			<div class="block-body" style="display: flex; flex-direction: row;">

				<div>Auto Logout Timer (in seconds)</div>
				<div>
					<input type="text" id="login_session_timeout" value="" />
				</div>
				<div>
					<button id="login_session_timeout_Update">Update</button>
				</div>

			</div>
		</div>
	</div>
</main>