<main id="forgot-password">
	<div class="box failure-box">
		<div class="failure-reason">
			PASSWORD RESET
		</div>
		<div class="failure-detail">
			Please insert your user ID and email address
		</div>
	</div>
	<div class="box login-box">
		<div class="logo"></div>
		<div class="logo-text">Sample Text</div>
		<div class="input input-id">
			<input type="text" placeholder="User ID - ex. HMM123456" />
		</div>
		<div class="input">
			<input type="email" placeholder="Your Email Address" />
		</div>
		<div id="request-btn">
			REQUEST RESET PASSWORD
		</div>
	</div>
</main>