<main id="login" import="Login">
	<div>
		<div class="left">
			<h1 class="center">Login to your account</h1>
			<div>
				<h2>Member ID</h2>
				<div class="input id">
					<input id="id" type="text" placeholder="ex) KMM000000" value="admin">
				</div>
				<h2>Password</h2>
				<div class="input password" style="margin-bottom: 6px;">
					<input id="password" type="password" placeholder="Enter password" value="Rldk!234">
				</div>
				<a href="#">Forgot your password</a>
			</div>
			<div>
				<p class="slogan">This is the sample slogan!</p>
				<div id="loginBtn" class="noselect hand">Log In</div>
			</div>
		</div>
		<div class="right"></div>
	</div>
</main>
<footer class="login">
	&copy; Copyright Sample, Inc. 2022 All Rights Reserved
</footer>