<main id="reset-password">
	<div class="box failure-box">
		<div class="failure-reason">
			PASSWORD RESET
		</div>
		<div class="failure-detail">
			Password does not match
		</div>
	</div>
	<div class="box login-box">
		<div class="logo"></div>
		<div class="logo-text">Sample Text</div>
		<div class="input input-id">
			<input type="password" placeholder="New Password" />
		</div>
		<div class="input">
			<input type="password" placeholder="Confirm New Password" />
		</div>
		<div id="request-btn">
			RESET PASSWORD
		</div>
	</div>
</main>